In [1]:
# Data Engineering Project

In [1]:
import numpy as np
import pandas as pd

from sqlalchemy import create_engine

In [39]:
### Data Pipeline

#Directories of the Datasets 

dir_1=".//data//Unfallatlas_Konstanz_Gesamt_2020.csv"
dir_2=".//data//Zaehlstelle_Herose_2020_stuendlich_Wetter.csv"

#Extract
df1 = pd.read_csv(dir_1,delimiter=";")
df2=pd.read_csv(dir_2,delimiter=";")

#Connect Local Server
engine = create_engine('postgresql://postgres:1234@localhost:5432/postgres')

#Transform Data

df2['Zeit'] = pd.to_datetime(df2['Zeit'])
df2["Monat"]=pd.DatetimeIndex(df2['Zeit']).month
df2["Wochentag"]=pd.DatetimeIndex(df2['Zeit']).dayofweek
df2["Stunde"]=pd.DatetimeIndex(df2['Zeit']).hour


symbol_wetter_list=list(df2["Symbol Wetter"].unique())

for index,sym in enumerate(df2["Symbol Wetter"]):
    df2 = df2.replace({'Symbol Wetter': {sym:symbol_wetter_list.index(sym)}})


df1['Jahr-Monat'] = pd.to_datetime(df1['Jahr-Monat'],format='%Y-%m')



df1_IstRad=df1.loc[df1["IstRad"]==1]


#Load to Local Server
df1.to_sql(name="Unfallatlas_Konstanz_Gesamt_2020", con=engine, if_exists="replace", index=False)
df2.to_sql(name="Zaehlstelle_Herose_2020_stuendlich_Wetter", con=engine, if_exists="replace", index=False)
df1_IstRad.to_sql(name="Unfallatlas_Konstanz_Gesamt_2020_IstRad", con=engine, if_exists="replace", index=False)

171

In [40]:
df2

,Zeit,Fahrradbruecke,Fahrradbruecke stadteinwaerts,Fahrradbruecke stadtauswaerts,Symbol Wetter,Temperatur (°C),Gefuehlte Temperatur (°C),Regen (mm),Monat,Wochentag,Stunde
0,2020-01-01 00:00:00,104.0,31.0,73.0,0,1.0,-1.0,0.0,1,2,0
1,2020-01-01 01:00:00,128.0,47.0,81.0,0,0.0,-1.0,0.0,1,2,1
2,2020-01-01 02:00:00,178.0,77.0,101.0,1,0.0,-2.0,0.0,1,2,2
3,2020-01-01 03:00:00,113.0,56.0,57.0,1,0.0,-2.0,0.0,1,2,3
4,2020-01-01 04:00:00,76.0,36.0,40.0,1,0.0,-2.0,0.0,1,2,4
...,...,...,...,...,...,...,...,...,...,...,...
8780,2020-12-31 20:00:00,32.0,16.0,16.0,3,-2.0,-3.0,0.0,12,3,20
8781,2020-12-31 21:00:00,13.0,10.0,3.0,3,-2.0,-3.0,0.0,12,3,21
8782,2020-12-31 22:00:00,11.0,4.0,7.0,3,-2.0,-3.0,0.0,12,3,22
8783,2020-12-31 23:00:00,5.0,5.0,0.0,9,-1.0,-3.0,0.0,12,3,23
8784,2021-01-01 00:00:00,4.0,2.0,2.0,9,-1.0,-3.0,0.0,1,4,0

In [14]:
df1

,UnfallID,UJAHR,UMONAT,Jahr-Monat,UWOCHENTAG,USTUNDE,UKATEGORIE,UART,UTYP1,ULICHTVERH,...,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,"8,20E+18",2020,1,2020-01-01,6,14,2,9,1,0,...,0,1,0,0,0,0,"510512,2678","5287973,343","9,140234078","47,74504639"
1,"8,20E+18",2020,1,2020-01-01,6,12,3,5,3,0,...,1,1,0,0,0,0,"512502,3037","5279837,487","9,166547759","47,67180763"
2,"8,20E+18",2020,1,2020-01-01,5,15,3,0,7,0,...,0,0,0,0,0,1,"513454,3717","5279340,436","9,179215232","47,66731622"
3,"8,20E+18",2020,1,2020-01-01,5,10,3,5,2,0,...,1,1,0,0,0,0,"513794,563","5280015,59","9,183767956","47,67338386"
4,"8,20E+18",2020,1,2020-01-01,4,19,3,5,2,2,...,0,1,0,1,0,0,"511459,472","5280191,795","9,152665167","47,6750149"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,"8,20E+18",2020,12,2020-12-01,3,7,3,4,6,0,...,0,1,0,0,1,0,"510600,7303","5283002,547","9,141293177","47,70031972"
269,"8,20E+18",2020,12,2020-12-01,4,9,2,8,1,0,...,1,0,0,0,0,0,"512157,831","5278868,528","9,161931963","47,66309582"
270,"8,20E+18",2020,12,2020-12-01,2,16,3,0,1,0,...,1,0,0,0,0,0,"513039,3068","5278320,343","9,173656059","47,65814626"
271,"8,20E+18",2020,12,2020-12-01,2,18,3,5,3,2,...,1,1,0,0,0,0,"511072,7311","5280791,063","9,147528152","47,68041365"
272,"8,20E+18",2020,12,2020-12-01,3,12,3,5,2,0,...,1,1,0,0,0,0,"512031,6458","5280353,792","9,160292204","47,6764621"